{
  "version": "0.0.1",
  "configurations": [
    {
      "name": "web-console",
      "runtimeExecutable": "npm",
      "runtimeArgs": ["run", "dev"],
      "port": 3000,
      "autoPort": true,
      "cwd": "web-console",
      "env": {
        "CENTRAL_SERVER_URL": "http://localhost:10000"
      }
    },
    {
      "name": "central-server",
      "runtimeExecutable": "go",
      "runtimeArgs": ["run", "./cmd/server"],
      "port": 10000,
      "autoPort": false,
      "cwd": "central-server",
      "env": {
        "AI_GATEWAY_HTTP_HOST": "0.0.0.0",
        "AI_GATEWAY_HTTP_PORT": "10000",
        "AI_GATEWAY_DB_HOST": "REPLACE_WITH_DB_HOST",
        "AI_GATEWAY_DB_PORT": "5432",
        "AI_GATEWAY_DB_USER": "REPLACE_WITH_DB_USER",
        "AI_GATEWAY_DB_PASSWORD": "REPLACE_WITH_DB_PASSWORD",
        "AI_GATEWAY_DB_NAME": "REPLACE_WITH_DB_NAME",
        "AI_GATEWAY_DB_SSLMODE": "disable"
      }
    }
  ]
}
